<html>
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous">
        </script>
      </head>
    <body data-nickname="{{notes.nickname}}">
        <h1>Notes</h1>
        <div id="notes">
            {% for note in notes %}
                <div class="note">
                    <h2>{{ note.title }}</h2>
                    <p>{{ note.content }}</p>
                    <form method="POST">
                        <label for="note-{{ note.id }}">done</label>
                        <input
                            type="checkbox"
                            {%if note.done %} checked {%endif%}
                            data-id="{{ note.id }}"
                        >
                    </form>
                </div>
            {% endfor %}
        </div>
    </body>
</html>